doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title <%= projectName %>

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body
			h1 <%= projectName %>
			p Welcome to your new website!
			p You can hack on your HTML using #[a(href='http://jade-lang.com') Jade], you can write CSS in #[a(href='http://stylus-lang.com') Stylus], and you can write scripts in JavaScript!
			p Also, check out #[a(href='/blog/hello-world') Hello World] on your brand-new blog!

		script(src='build/build.js')
